@{
    ViewData["Title"] = "Home Page";
}
<div class="container d-flex flex-row">
    <div class="d-flex flex-column justify-content-between" style="width: 500px;">
    <partial name="_Register"/>
    </div>
    <div class="d-flex flex-column justify-content-between" style="width: 500px;">
    <partial name="_Login"/>
    </div>
</div>
